<%= form_for(@budget) do |f| %>
  <% if @budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
      <% @budget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>When?</h3>
  <div class="field" id="start">
    <%= f.label :start_date, 'Start:' %><br />
    <%= f.text_field :start_date, :class => 'datepicker' %>
  </div>
  <div class="field" id="end">
    <%= f.label :end_date, 'End:' %><br />
    <%= f.text_field :end_date, :class => 'datepicker' %>
  </div>
  
  <h3>How Much?</h3>
  <div class="field">
    <%= f.label :amount, 'How Much?' %><br />
    $ <%= f.text_field :amount %>
  </div>
  
  <h3>Split it up</h3>
  <%= f.fields_for :envelopes do |builder| %>
    <div class="envelope_percent_field">
      <%= builder.object.name %>:<br />
      <%= builder.text_field :budget_percent %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
