<h3><%= link_to envelope.name, envelope %></h3>
<h4><%= formatted_money envelope.amount_available %></h4><p> of <%= formatted_money envelope.budget_amount %></p>
<div class="transaction_entry clearfix">
<%= form_for(envelope, :remote => true) do |f| %>
  <%= f.fields_for(:transactions, Transaction.new ) do |builder| %>
    <%= render("envelopes/transaction_fields", :f => builder) %>
  <% end %>
  <div class="actions visuallyhidden">
    <%= f.submit :onfocus => "submit_focus('edit_envelope_#{envelope.id}')"%>
  </div>
<% end %>
</div>
<%= render :partial => 'transactions/table', :locals => { :transactions => envelope.transactions.reverse } %>
