<h3><%= link_to envelope.name, envelope %></h3>
<h4 class="available" id="<%= "#{dom_id(envelope)}_available" %>"><%= financial_format envelope.amount_available %> / <%= financial_format envelope.budget_amount %></h4>

<div class="transaction_entry clearfix">
  <%= transaction_form envelope.id %>
</div>

<%= transaction_list envelope.transactions.reverse %>
