<%= form_for(@envelope) do |f| %>
  <% if @envelope.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@envelope.errors.count, "error") %> prohibited this envelope from being saved:</h3>

      <ul>
      <% @envelope.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :budget_percent %><br />
    <%= f.text_field :budget_percent %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
