<div class="transaction_fields fields">
  <div class="field inline envelope">
    <%= f.collection_select(:envelope_id, Envelope.all, :id, :name, :include_blank => true ) %>
  </div>
  <div class="field inline vendor">
    <%= f.text_field :vendor %>
  </div>
  <div class="field inline amount">
    <%= f.text_field :amount %>
  </div>
  <div class="field hidden">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
</div>