<h1>Listing envelopes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @envelopes.each do |envelope| %>
  <tr>
    <td><%= envelope.name %></td>
    <td><%= envelope.active %></td>
    <td><%= link_to 'Show', envelope %></td>
    <td><%= link_to 'Edit', edit_envelope_path(envelope) %></td>
    <td><%= link_to 'Destroy', envelope, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Envelope', new_envelope_path %>
