<p id="notice"><%= notice %></p>

<h3><%= @envelope.name %></h3>
<p>
  <b>Active:</b>
  <%= @envelope.active %>
</p>

<%= render 'transactions/table' %>

<%= link_to 'Edit', edit_envelope_path(@envelope) %> |
<%= link_to 'Back', envelopes_path %>
