<div class="goal-wrap">
  <%= render @goal %>
  <%= transaction_list @goal.transactions %>

  <%= link_to 'All Goals', goals_path %> |
  <%= link_to 'Edit', edit_goal_path(@goal) %> |
  <%= link_to 'Delete', @goal, confirm: "Delete goal \"#{@goal.name}\"?", method: :delete,  %>
</div>
