<li id="<%= dom_id transaction %>" >
  <%= transaction.vendor %>
  
  <% invert_transaction = false if local_assigns[:invert_transaction].nil? %>

  <%= amount_tag transaction.amount, invert_transaction %>
  
  <section class="metadata">
    <%= link_to transaction.date, transaction %> |
    <% unless transaction.envelope.nil? %>
      <%= link_to transaction.envelope.name, transaction.envelope %>
    <% else %>
      (none)
    <% end %>
   | 
    <% unless transaction.goal.nil? %>
      <%= link_to transaction.goal.name, transaction.goal %>
    <% else %>
      (none)
    <% end %>
    |
    <%= link_to 'X', transaction, :method => :delete, :remote => true %>
  </section>
</li>