<tr>
  <td><%= transaction.date %></td>
  <td><%= transaction.vendor %></td>
  <td><%= transaction.desc %></td>
  <td><%= transaction.amount %></td>
  <td><%= transaction.envelope.name unless transaction.envelope.nil? %></td>
  <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
  <td><%= link_to 'Destroy', transaction, confirm: 'Are you sure?', method: :delete %></td>
</tr>