<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <b>Date:</b>
  <%= @transaction.date %>
</p>

<p>
  <b>Vendor:</b>
  <%= @transaction.vendor %>
</p>

<p>
  <b>Desc:</b>
  <%= @transaction.desc %>
</p>

<p>
  <b>Amount:</b>
  <%= @transaction.amount %>
</p>

<p>
  <b>Envelope:</b>
  <%= @transaction.envelope.name if @transaction.envelope.present? %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %>
